body{
    background-color: #F0F0F0;
}

.box{
    font-size: 24px;
    color:#767676 ;
    width: 600px;
    background-color: #FFFFFF;
}

#title{
    font-size: 84px;
    color:#a8a0a0 ;
    padding-top: 10px;
    font-weight: lighter;
    margin-bottom: 0px;
}

.inputText{
    margin-left: 50px;
    border:none;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 500px;
    outline: 0;
}


.footer{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 16px;
    color:#767676 ;
    width: 600px;
}

.footer2{
    background-color: #FFFFFF;
    width: 580px;
    height: 7px;
}

.footer3{
    background-color: #FFFFFF;
    width: 560px;
    height: 7px;
}

#tasks li{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

#tasks li span{
    visibility: hidden;
    cursor: pointer;
    line-height:inherit;
}
 
#tasks li:hover span{
    visibility: visible;
}